
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( rgb(92, 92, 92), rgb(201, 199, 199));
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.card {
    position: relative;
    height: 15rem;
    width: 13rem;
    padding: 10px 15px;
    background: linear-gradient(rgb(255, 25, 8), rgb(250, 142, 142));
    transition-property: height, width, opacity;
    transition-duration: 1s;
}

.card:hover {
    height: 17rem;
    width: 15rem;
}

.card::after {
    position: absolute;
    content: "";
    height: 15rem;
    width: 13rem;
    top: 0;
    left: 0;
    background-image: radial-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.493));
    opacity: 0;
    transition-property: opacity, height, width;
    transition-duration: 1s;
}


.card:hover:after {
    opacity: 1;
    height: 17rem;
    width: 15rem;
}