
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin: 2rem 2rem 0.5rem 2rem;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1rem 2rem 0.5rem 2rem;
}

.tela {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2rem;
    left: 32rem;
    width: 280px;
    height: 120px;
    border-radius: 10px;
    background-color: rgb(43, 43, 46);
}

.boneco {
    display: flex;
    position: absolute;
    width: 2em;
    height: 3em;
    border-radius: 50%;
    background: linear-gradient(120deg, rgb(221, 200, 84), rgb(128, 105, 33));
}

#egg {
    left: calc(var(--mouse-dir-x) * 2.5rem);
    top: calc(var(--mouse-dir-y) * 1.2rem);
}

body {
    width: 100vw;
    height: 100vh;
    background: repeating-radial-gradient(farthest-corner at 30% 40%,rgb(179, 101, 17)10px, rgb(179, 111, 17) 115px, rgb(179, 108, 17)180px, rgb(179, 108, 17) 200px);
}

.controle {
    display: flex;
    position: absolute;
    top: 200px;
    left: 290px;
    width: 640px;
    height: 270px;
    border-radius: 25%;
    background: linear-gradient(120deg,rgb(17, 17, 17) 25%, rgb(12, 12, 12)50%);
}

.controle::before {
    display: flex;

    content: "";
    position: absolute;
    top: 60px;
    left: -68px;
    border-left: 200px solid rgb(15, 15, 15);
    border-radius: 70% 50% 500% 200%;
    transform: rotate(20deg);
    width: 10px;
    height: 380px;
}

.controle::after {
    display: flex;

    content: "";
    position: absolute;
    top: 60px;
    left: 502px;
    border-right: 200px solid rgb(15, 15, 15);
    border-radius: 70% 50% 200% 500%;
    transform: rotate(-20deg);
    width: 10px;
    height: 380px;
}

.container-analogico-esq {
    display: flex;

    position: absolute;
    top: 180px;
    left: 115px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(110deg, rgb(31, 30, 30), black);
    z-index: 10;

}

.container-analogico-dir{

    content: "";
    position: absolute;
    top: 180px;
    left: 24rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(120deg, rgb(36, 35, 35), black);
    z-index: 10;
}

.analogico-direito {

    position: absolute;
    left: calc(var(--mouse-dir-x) * 1rem);
    top: calc(var(--mouse-dir-y) * 1rem);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(120deg, rgb(22, 22, 22), rgb(10, 10, 10));
    box-shadow: 0 0 1px 5px black;
    z-index: 10;
}

.analogico-esquerdo {

    position: absolute;
    left: calc(var(--mouse-esq-x) * 1rem);
    top: calc(var(--mouse-esq-y) * 1rem);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(120deg, rgb(22, 22, 22), rgb(10, 10, 10));
    box-shadow: 0 0 1px 5px black;
    z-index: 10;
}

.container-setas {
    display: flex;

    position: absolute;
    top: -15px;
    left: -15px;
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background: linear-gradient(120deg, rgb(22, 22, 22)5%, rgb(15, 15, 15) 25%, rgb(10, 10, 10)40%);
    z-index: 5;
}

.container-botoes {
    display: flex;

    position: absolute;
    top: -15px;
    left: 415px;
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background: linear-gradient(120deg, rgb(22, 22, 22)5%, rgb(15, 15, 15) 15%, rgb(10, 10, 10)40%);
    z-index: 5;
}

.setas {
    display: flex;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 150px;
}


.setas::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 160px;
    border-radius: 5px;
    background: rgb(8, 8, 8);
}

.setas::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 160px;
    border-radius: 5px;
    transform: rotate(90deg);
    background: rgb(8, 8, 8);
}

.setas div{
    display: flex;

    position: absolute;
    
    width: 30px;
    height: 30px;
    border-radius: 5px 5px 15px 15px;

    box-shadow: 0 0 1px 3px black;
    background: rgb(53, 53, 53);
    z-index: 10;
}

.setas .esquerda {    
    left: 30px;
    transform: rotate(270deg);

}

.setas .cima {
    top: 30px;
    transform: rotate(0);
}

.setas .baixo {
    
    top: 90px;
    transform: rotate(180deg);
}

.setas .direita {
    left: 90px;
    transform: rotate(90deg);
}

.botoes {
    display: flex;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 150px;
}

.botoes::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 160px;
    border-radius: 5px;
    background: rgb(8, 8, 8);
}

.botoes::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 160px;
    border-radius: 5px;
    transform: rotate(90deg);
    background: rgb(8, 8, 8);
}

.botoes div {

    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(120deg, rgb(10, 10, 10),rgb(0, 0, 0));
    box-shadow: 0 0 1px 2px black;
    z-index: 20;
}

.botoes .bola {    
    left: 100px;
    box-shadow: 0 0 1px 7px inset black, 0 0 1px 9px inset red ;
}

.bola::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow:5px 3px 3px 1px inset rgba(59, 59, 59, 0.13), 0 0 1px 1px inset black, 0 0 1px 2px black;
}

.botoes .x {
    top: 100px;
}

.x::after {
    content: "X";
    position: absolute;
    top: 5px;
    left: 14px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

.botoes .quadrado {
    left: 0;
}

.quadrado::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    width: 60%;
    height: 60%;
    background: linear-gradient(120deg, rgb(10, 10, 10),rgb(0, 0, 0));
    box-shadow:0 0 0 3px inset black, 0 0 0 6px inset pink;
}

.botoes .triangulo {
    top: 0;
}

.triangulo::after {
    content: "";
    position: absolute;   
    top: 7px;
    left: 7px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent; 
    border-bottom: 28px solid rgb(18, 196, 12);   
    box-shadow: 0 0 1px 7px inset, 0 0 1px 9px inset red;
}

.triangulo:before {
    position:absolute;
    content:"";
    top: 7px;
    left: 7px;
    margin-top:5.2px;
    margin-left:5px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 20px solid rgb(0, 0, 0);
    z-index: 10;
}

.select-analog {
    position: absolute;
    top: 7rem;
    left: 17rem;
    width: 1.5rem;
    height: 1rem;
    background: rgb(44, 43, 43);
    border-radius: 2px;
    box-shadow: 0 0 1px 2px black;
}

.select-analog::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 3.5rem;
    width: 1.5rem;
    height: 1rem;
    background: rgb(44, 43, 43);
    border-radius: 2px;
    box-shadow: 0 0 1px 2px black;
    z-index: 100;
}

.select-analog::after {
    content: "";
    position: absolute;
    top: -0.2rem;
    left: 7rem;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 25px solid rgb(44, 43, 43);
    transform: rotate(90deg);
    width: 0;
    height: 0;
}